.menuTitleContainer {
  // height: 20rem;
  display: flex;
  flex-direction: column;
}

.menuTitle {
  font-size: 14rem;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
